body {
    margin:0;
    padding:0;
    /* background-image:url("../imgs/homebg.png"); */
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}



nav a {
    font-size:large;
    text-decoration: none;
    color:white;

}

nav {
    display:flex;
    align-items:center;
    background-color:#434281;
    
    gap:3vw;

}

#iris_logo {
    display:flex;
    align-items:center;
}